@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.App {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Ensure content is displayed to the right of the sidebar */
}


.App {
  display: flex;
}

.Sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}
